<div class="route-list-container">
  <app-search-routes (search)="onSearch($event)"></app-search-routes>

<div class="sort-container" [style]="{textAlign: 'center', 'width': '100%'}">
  <mat-form-field appearance="outline" class="sort-field" [style]="{textAlign: 'center', 'width': '100%'}">
    <mat-label>Ordenar por</mat-label>
    <mat-select [(value)]="sortBy" (selectionChange)="onSortChange()">
      <mat-option value="name">Nome</mat-option>
      <mat-option value="elevation">Elevação</mat-option>
      <mat-option value="distance">Distância</mat-option>
      <mat-option value="duration">Tempo de duração</mat-option>
      <mat-option value="nivel">Nível de dificuldade</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="sort-direction-field" [style]="{textAlign: 'center', 'width': '100%'}">
    <mat-label>Direção</mat-label>
    <mat-select [(value)]="sortDirection" (selectionChange)="onSortChange()">
      <mat-option value="desc">Maior para menor</mat-option>
      <mat-option value="asc">Menor para maior</mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <div *ngIf="loading" class="loading">
    <mat-spinner diameter="40"></mat-spinner>
    <span>Carregando rotas...</span>
  </div>


  <ng-container *ngIf="!loading">
    <div *ngIf="paginatedRoutes && paginatedRoutes.length > 0">
      <app-route-card
        *ngFor="let route of paginatedRoutes"
        [route]="route"
        [getDificuldadeClass]="getDificuldadeClass"
        [getDificuldadeLabel]="getDificuldadeLabel"
      ></app-route-card>
        <mat-paginator class="paginator-container"
          *ngIf="totalPages > 1"
          [length]="filteredRoutes.length"
          [pageSize]="pageSize"
          [pageIndex]="currentPage - 1"
          (page)="onPageChange($event)">
        </mat-paginator> 
    </div>
    <div *ngIf="paginatedRoutes && paginatedRoutes.length === 0" class="no-results">
      Nenhum resultado encontrado.
    </div>
  </ng-container>  
</div>