.route-list-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0 32px 0;
  max-width: 900px;
  margin: 0 auto;
}

.toolbar {
  margin-bottom: 24px;
  background: #fc5200;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: #888;
}


mat-paginator {
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Opcional: adiciona espaço acima */
}

.route-list-container {
  padding: 0 2rem; /* Adiciona 2rem de espaço nas laterais */
}

.sort-container {
  display: flex;
  justify-content: flex-end;
}
.sort-field {
  min-width: 200px;
}

::ng-deep .mat-mdc-paginator-page-size {
  display: none !important;
}